<%- include('../../components/header.ejs') %>
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-8 col-sm-10 col-xxl-4">
            <div class="card mt-3">
                <div class="card-body">
                    <h5 class="card-title"><% if (restaurante) { %>Editar Restaurante<% } else { %>Registrar Restaurante<% } %></h5>
                    <form method="post" action="<% if (restaurante) { %>
                        /restaurantes/<%= restaurante.id %>/edit
                    <% } else { %>
                        /restaurantes/create
                    <% } %>" enctype="multipart/form-data">
                        <div class="mt-2">
                            <label>Nombre del Restaurante</label>
                            <input class="form-control" type="text" name="nombre" placeholder="Nombre del Restaurante" 
                                value="<%= restaurante && restaurante.nombre %>">
                        </div>
                        <div class="mt-2">
                            <label>Descripción</label>
                            <input class="form-control" type="text" name="descripcion" placeholder="Descripción"
                                value="<%= restaurante && restaurante.descripcion %>">
                        </div>
                        <div class="mt-2">
                            <label>Cargar su Fotito</label>
                            <input class="form-control" type="file" name="imagen">
                        </div>
                        <div class="mt-2">
                            <input class="btn btn-primary" type="submit" value="Enviar">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('../../components/footer.ejs') %>
